.additional-card__title {
  font-family: @second-family;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: @special-dark-grey-2;
}

.additional-card__value, .additional-card__price {
  font-family: @font-family;
  font-weight: 400;
  font-size: 14px;
  color: @special-dark-grey;
}
