.additional-card__title {
  font-family: @second-family;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: @special-dark-grey-2;
  margin: 0;
  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.additional-card__header {
  margin: 10px 0 0 2px;
  @media (min-width: @desktop-width) {
    margin: 5px 0 0 0;
  }
}

.additional-card__value,
.additional-card__price {
  font-family: @font-family;
  font-weight: 400;
  font-size: 14px;
  color: @special-dark-grey;
  margin-top: 8px;
  margin-bottom: 13px;
  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.additional-card__value {
  @media (min-width: @tablet-width) {
    margin-right: 49px;
  }
  @media (min-width: @desktop-width) {
    margin: 0 0 0 0;
  }
}

.additional-card__price {
  @media (min-width: @tablet-width) {
    min-width: 40px;
    text-align: right;
  }
  @media (min-width: @desktop-width) {
    margin: 0 40px 0 0;
  }
}

.additional-card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid @special-grey;
  padding: 0;
  &:first-child {
    border-top: 1px solid @special-grey;
  }
  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 38px 10px 37px;
    border-left: 1px solid @special-grey;
    border-right: 1px solid @special-grey;
  }
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 244px;
    padding: 13px 0 19px 0;
    align-items: center;
    border-left: none;
    border-right: none;
  }
}

.additional-card__wrapper {
  display: flex;
  justify-content: space-between;
  @media (min-width: @tablet-width) {
    padding-top: 13px;
  }
}

.additional-card__footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.additional-card__button {
  height: 40px;
  font-size: 16px;
  margin-bottom: 17px;
  padding: 0;
  @media (min-width: @tablet-width) {
    height: 39px;
    font-size: 16px;
    margin-top: 10px;
  }
  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
