.button {
  background-color: @basic-green;
  font-family: @second-family;
  font-weight: 400;
  font-size: 14px;
  color: @basic-white;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.product-card__button--show-more {
  background-color: @basic-grey;
  color: @special-dark-grey;
}
