.features__title {
  font-family: @second-family;
  font-weight: 400;
  font-size: 36px;
}

.features__item {
  font-weight: 400;
  font-size: 14px;
  color: @special-dark-grey;
  line-height: 1.3;
}

.features__pic {
  background-color: @basic-green;
}
