.logo__cat--mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.logo__cat--tablet {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
    width: 60px;
  }
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.logo__cat--desktop {
  display: none;
  @media (min-width: @desktop-width) {
    display: block;
  }
}

.logo__title--header {
  justify-self: center;
  @media (min-width: @tablet-width) {
    margin-left: 10px;
    fill: @special-dark-grey;
  }
  @media (min-width: @desktop-width) {
    margin-left: 13px;
    height: auto;
    width: 118px;
  }
}

.logo__footer {
  width: 128px;
  height: auto;
}

.logo {
  &:hover,
  &:focus {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}
