.logo__cat--mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.logo__cat--tablet {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
  }
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.logo__cat--desktop {
  display: none;
  @media (min-width: @desktop-width) {
    display: block;
  }
}

.logo__title--header {
  @media (min-width: @tablet-width) {
    margin-left: 10px;
    fill: @special-dark-grey;
  }
  @media (min-width: @desktop-width) {
    margin-left: 15px;
  }
}

.logo {
  &:hover,
  &:focus {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}
