.product-card__title {
 font-family: @second-family;
 font-weight: 400;
 font-size: 16px;
 color: @special-dark-grey-2;
 text-transform: uppercase;
}

.product-card__details {
  font-family: @font-family;
  font-weight: 400;
  font-size: 12px;
  color: @special-dark-grey;
}

.product-card__subtitle {
  font-family: @font-family;
  font-weight: 400;
  font-size: 12px;
  color: @special-dark-grey;
}
