.promo-gift {
  background: url(../../images/gift-photo.png);
  background-repeat: no-repeat;
}

.promo-gift__slogan {
  font-family: @font-family;
  font-weight: 400;
  font-size: 16px;
  color: @basic-white;
}
