.promo {
  background-image: url("../../images/cat-background.png");
  background-repeat: no-repeat;
  text-align: center;
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
}

.promo__slogan {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
