.social {
  width: 100%;
  border-bottom: 1px solid @special-grey-line;
  padding: 18px 0 18px 0;
  display: flex;
  justify-content: center;
  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
    margin: 0;
  }
  @media (min-width: @desktop-width) {
    width: 47%;
  }
}

.social__list {
  display: flex;
  align-items: flex-end;
  margin: 0;
  @media (min-width: @tablet-width) {
    align-items: center;
    justify-content: space-between;
    width: 59%;
  }
}

.social__item {
  margin: 0 18px;
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.social__link--vkontakte svg {
  @media (min-width: @tablet-width) {
    height: auto;
    width: 32px;
  }
}

.social__link--instagram svg {
  @media (min-width: @tablet-width) {
    height: auto;
    width: 24px;
  }
}

.social__link--facebook svg {
  @media (min-width: @tablet-width) {
    height: auto;
    width: 32px;
    padding-right: 8px;
  }
}

.social__link--vkontakte:hover svg,
.social__link--instagram:hover svg,
.social__link--vkontakte:focus svg,
.social__link--instagram:focus svg {
  fill: @basic-green;
}

.social__link--facebook:hover svg,
.social__link--facebook:focus svg {
  stroke: @basic-green;
}

.social__link--vkontakte:active svg,
.social__link--instagram:active svg {
  fill: @basic-green;
  opacity: 0.3;
}

.social__link--facebook:active svg {
  stroke: @basic-green;
  opacity: 0.3;
}
