.button {
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  align-content: center;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}
.page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin: 23px 30px 0 30px;
  }
}
@media (min-width: 1440px) {
  .page-header {
    margin: 50px 110px 0 110px;
  }
}
.page-header__logo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 12px 5px 20px 21px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .page-header__logo {
    border: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  .page-header__logo {
    margin-top: 4px;
  }
}
@media (min-width: 768px) {
  .page-header__logo--link {
    margin-right: 12px;
  }
}
.page-main {
  font-family: "Oswald", sans-serif;
}
@media (min-width: 768px) {
  .page-main {
    padding-top: 32px;
  }
}
@media (min-width: 1440px) {
  .page-main {
    padding-top: 28px;
  }
}
.page-main__stats {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-main__stats {
    padding: 0 0 0 0;
  }
}
@media (min-width: 1440px) {
  .page-main__stats {
    padding: 0 0px;
  }
}
.page-main__features {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .page-main__features {
    margin: 63px 30px 0 30px;
  }
}
@media (min-width: 1440px) {
  .page-main__features {
    margin: 0 110px;
  }
}
.page-main__programmes {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .page-main__programmes {
    margin: 0 30px;
  }
}
@media (min-width: 1440px) {
  .page-main__programmes {
    margin: 0 110px;
  }
}
.main-nav {
  position: relative;
  width: auto;
}
.main-nav__toggle-menu {
  position: absolute;
  right: 20px;
  top: -55px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav__toggle-menu {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle-menu::before {
  content: "";
  position: absolute;
  right: 2px;
  top: 5px;
  width: 24px;
  height: 1.5px;
  background-color: #000;
  box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
}
.main-nav--opened .main-nav__toggle-menu {
  right: 16px;
  top: -55px;
}
.main-nav--opened .main-nav__toggle-menu::before,
.main-nav--opened .main-nav__toggle-menu::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 13px;
  width: 24px;
  height: 1.5px;
  background-color: #000;
}
.main-nav--opened .main-nav__toggle-menu::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle-menu::after {
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .main-nav--closed .site-list {
    display: none;
  }
}
.main-nav--nojs .main-nav__toggle-menu {
  display: none;
}
.site-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
.site-list__item a {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding-top: 18px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-list__item a {
    font-weight: 400;
    font-size: 18px;
    flex-direction: row;
    border: none;
  }
}
@media (min-width: 1440px) {
  .site-list__item a {
    font-size: 20px;
    padding-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .site-list__item.site-list__item--main-page a {
    color: #fff;
  }
}
@media (min-width: 768px) {
  .site-list__item:nth-last-child(1) a {
    padding-bottom: 3px;
  }
}
@media (min-width: 768px) {
  .site-list__item a[href] {
    padding-bottom: 10px;
  }
  .site-list__item a[href]:hover,
  .site-list__item a[href]:focus {
    opacity: 0.6;
  }
  .site-list__item a[href]:active {
    opacity: 0.3;
  }
}
@media (min-width: 768px) {
  .site-list__item {
    margin-left: 35px;
  }
  .site-list__item--current {
    position: relative;
  }
  .site-list__item--current::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 6px;
    left: 0;
    height: 2px;
    background-color: #68b738;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .site-list__item--main-page.site-list__item.site-list__item--current::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 1px;
    left: 0;
    height: 2px;
    background-color: #fff;
  }
}
@media (min-width: 1440px) {
  .site-list__item {
    margin-left: 35px;
  }
  .site-list__item--current::after {
    bottom: 0;
  }
}
.promo {
  text-align: center;
}
.promo__wrapper {
  position: relative;
  padding-top: 26px;
}
@media (min-width: 768px) {
  .promo__wrapper {
    margin: 0 30px;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(4, min-content);
    padding: 0;
  }
}
.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #fff;
  margin: 0;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 60px;
    color: #000;
    text-align: left;
    margin-left: 87px;
  }
}
@media (min-width: 1440px) {
  .promo__title {
    margin-top: 82px;
    margin-left: 160px;
  }
}
.promo__slogan {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 21px;
}
@media (min-width: 768px) {
  .promo__slogan {
    font-size: 20px;
    color: #000;
    text-align: left;
    margin-left: 87px;
    margin-top: 36px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1440px) {
  .promo__slogan {
    margin-left: 160px;
  }
}
.promo__pic {
  padding-top: 12px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  justify-self: center;
}
@media (min-width: 768px) {
  .promo__pic {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .promo__pic {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    justify-self: left;
    margin-left: -46px;
    margin-bottom: 130px;
  }
}
.promo__pic-bg {
  width: 100%;
  height: 302px;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url("../../images/cat-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-resolution: 2dppx) {
  .promo__pic-bg {
    background-image: url("../../images/cat-background@2x.png");
  }
}
.promo__pic-bg::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(104, 183, 56, 0.85);
}
@media (min-width: 768px) {
  .promo__pic-bg {
    display: none;
  }
}
@media (min-width: 1440px) {
  .promo__pic-bg {
    display: block;
    background-image: url("../../images/cat-background-desktop.png");
    background-size: contain;
    width: 52%;
    height: 694px;
    top: -141px;
    right: -30px;
  }
}
@media (min-width: 1440px) and (min-resolution: 2dppx) {
  .promo__pic-bg {
    background-image: url("../../images/cat-background-desktop@2x.png");
  }
}
.promo__link {
  display: block;
  height: 40px;
  margin: 0 20px;
}
@media (min-width: 768px) {
  .promo__link {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 0 82px;
    width: 244px;
    height: 54px;
    position: absolute;
    top: 256px;
  }
}
@media (min-width: 1440px) {
  .promo__link {
    left: 78px;
    top: 314px;
  }
}
.programmes__wrapper {
  margin-top: 22px;
}
@media (min-width: 768px) {
  .programmes__wrapper {
    margin: 0;
  }
}
.programmes-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.programmes-list__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}
.programmes-list__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .programmes-list__item {
    margin-bottom: 30px;
  }
}
@media (min-width: 1440px) {
  .programmes-list__item {
    width: 570px;
    margin-bottom: 0;
  }
}
.programmes-list__title {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
  margin: 21px 0 22px 0;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .programmes-list__title {
    margin: 63px 0 0 53px;
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  .programmes-list__title {
    margin: 42px 0 0 30px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .programmes-list__title--weight-gain {
    margin-top: 68px;
  }
}
@media (min-width: 1440px) {
  .programmes-list__title--weight-gain {
    margin-top: 47px;
  }
}
.programmes-list__cat-1 {
  margin-right: 19px;
  margin-left: 22px;
}
@media (min-width: 768px) {
  .programmes-list__cat-1 {
    position: absolute;
    top: 76px;
    right: 44px;
    width: 198px;
    height: auto;
  }
}
@media (min-width: 1440px) {
  .programmes-list__cat-1 {
    position: static;
    width: 100px;
    margin-right: 62px;
  }
}
.programmes-list__cat-2 {
  margin-right: 11px;
  margin-left: 13px;
}
@media (min-width: 768px) {
  .programmes-list__cat-2 {
    position: absolute;
    top: 91px;
    right: 17px;
    width: 269px;
    height: auto;
  }
}
@media (min-width: 1440px) {
  .programmes-list__cat-2 {
    position: static;
    width: 135px;
    margin-left: 2px;
    margin-right: 47px;
  }
}
.programmes-list__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444;
  margin: 0 20px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .programmes-list__description {
    font-size: 16px;
    line-height: 24px;
    margin: 17px 279px 0 52px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .programmes-list__description {
    margin: 40px 52px 0 52px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .programmes-list__description--weight-gain {
    margin-right: 312px;
  }
}
@media (min-width: 1440px) {
  .programmes-list__description--weight-gain {
    margin-right: 35px;
  }
}
.programmes-list__link {
  display: block;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 19px;
  justify-self: left;
  padding-top: 15px;
  padding-bottom: 20px;
}
.programmes-list__link svg {
  margin-left: 7px;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .programmes-list__link {
    font-size: 20px;
    margin: 13px 0 37px 52px;
  }
  .programmes-list__link svg {
    margin-left: 17px;
    margin-bottom: 3px;
  }
}
@media (min-width: 1440px) {
  .programmes-list__link {
    margin: 11px 0 39px 52px;
  }
  .programmes-list__link svg {
    margin-left: 19px;
  }
}
.programmes-list__link:active {
  opacity: 0.3;
}
.features__list {
  margin: 0;
  padding-bottom: 23px;
}
@media (min-width: 768px) {
  .features__list {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 62px;
  }
}
@media (min-width: 1440px) {
  .features__list {
    display: flex;
    justify-content: space-between;
  }
}
.features__wrapper {
  display: flex;
  flex-direction: column;
}
.features__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .features__item {
    counter-increment: list-counter;
    flex-direction: column;
    align-items: flex-start;
    width: 247px;
    position: relative;
  }
  .features__item::after {
    content: "" counter(list-counter);
    display: block;
    width: 1px;
    height: 1px;
    position: absolute;
    top: -94px;
    right: 131px;
    color: #f2f2f2;
    font-size: 280px;
    z-index: -1;
  }
}
.features__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin-top: 17px;
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .features__title {
    font-size: 60px;
    line-height: 24px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .features__title {
    margin-top: 89px;
    font-size: 60px;
    line-height: 24px;
  }
}
.features__desc {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444;
  margin: 0 0 0 20px;
}
.features__desc br {
  display: none;
}
@media (min-width: 768px) {
  .features__desc {
    font-size: 16px;
    line-height: 24px;
    margin: 17px 0 36px 0;
  }
  .features__desc br {
    display: block;
  }
}
.features__pic {
  background-color: #68b738;
  padding-left: 18px;
  padding-right: 18px;
  width: 60px;
  height: 60px;
}
@media (min-width: 768px) {
  .features__pic {
    width: 33px;
    height: auto;
    margin: 15px 0;
    padding: 24px 24px 23px 22px;
  }
}
.stats {
  background-color: #eaeaea;
  font-family: "Arial", sans-serif;
}
@media (min-width: 768px) {
  .stats {
    background-color: #fff;
  }
}
@media (min-width: 1440px) {
  .stats {
    background-color: #eaeaea;
  }
}
.stats__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
@media (min-width: 768px) {
  .stats__list {
    margin-top: 28px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .stats__list {
    padding: 0;
    justify-content: left;
  }
}
.stats__item {
  position: relative;
}
.stats__item--total {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 9px;
}
@media (min-width: 768px) {
  .stats__item--total {
    width: 43%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 11px;
  }
}
@media (min-width: 1440px) {
  .stats__item--total {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 70px;
  }
}
@media (min-width: 1440px) {
  .stats__wrapper {
    padding: 0 110px;
    display: grid;
    grid-template-columns: 36% 1fr;
    grid-template-rows: min-content 1fr;
  }
}
.stats__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin: 0;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .stats__title {
    font-size: 60px;
    padding-left: 30px;
    padding-top: 52px;
  }
}
@media (min-width: 1440px) {
  .stats__title {
    background-color: #fff;
    padding: 31px 110px 62px 110px;
  }
}
.stats__text {
  font-size: 14px;
  line-height: 18px;
  color: #444;
  margin: 0;
  padding-top: 27px;
}
@media (min-width: 768px) {
  .stats__text {
    font-size: 16px;
    line-height: 24px;
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 32px;
  }
}
@media (min-width: 1440px) {
  .stats__text {
    padding: 71px 0 0 0;
  }
}
.stats__value {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 124px;
  height: 47px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  margin: 25px 0;
  padding-top: 7px;
}
.stats__value--total {
  font-size: 14px;
  border: none;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .stats__value {
    font-size: 30px;
    width: 162px;
    padding-top: 11px;
    padding-bottom: 12px;
  }
  .stats__value--total {
    font-size: 20px;
    width: auto;
    padding-top: 0;
  }
}
@media (min-width: 1440px) {
  .stats__value {
    margin-right: 39px;
    margin-top: 40px;
    margin-bottom: 0;
  }
  .stats__value--total {
    margin-right: 113px;
    padding: 0;
  }
}
.stats__description {
  font-size: 12px;
  color: #444;
  text-transform: lowercase;
  display: block;
  width: 80px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 71px;
  left: 22px;
  background-color: #eaeaea;
  z-index: 1;
}
.stats__description--total {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  width: auto;
  position: static;
}
@media (min-width: 768px) {
  .stats__description {
    font-size: 14px;
    background-color: #fff;
    width: 142px;
    top: 88px;
    left: 12px;
  }
  .stats__description--total {
    width: auto;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .stats__description {
    background-color: #eaeaea;
    top: 102px;
    left: 10px;
  }
}
.stats__slider {
  margin-top: 42px;
}
@media (min-width: 768px) {
  .stats__slider {
    background-color: #eaeaea;
  }
}
@media (min-width: 1440px) {
  .stats__slider {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}
.contacts {
  padding: 0 20px;
}
.contacts__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  min-width: 140px;
  max-width: 171px;
  margin-top: 18px;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    margin-top: 12px;
  }
}
@media (min-width: 1440px) {
  .contacts__title {
    margin-top: 25px;
  }
}
.contacts__adress {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444;
}
@media (min-width: 768px) {
  .contacts__adress {
    text-align: right;
    max-width: 159px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 9px;
  }
}
@media (min-width: 1440px) {
  .contacts__adress {
    text-align: left;
    margin-top: 20px;
    margin-right: 10px;
  }
}
@media (min-width: 768px) {
  .contacts__adress--city {
    display: inline-block;
    padding-top: 19px;
  }
}
.contacts__page-main {
  background-color: #fff;
  display: flex;
  align-items: center;
  min-height: 114px;
}
@media (min-width: 768px) {
  .contacts__page-main {
    justify-content: space-between;
  }
}
.contacts__page-form,
.contacts__page-catalog {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  min-height: 114px;
}
@media (min-width: 768px) {
  .contacts__page-form,
  .contacts__page-catalog {
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .contacts__page-form,
  .contacts__page-catalog {
    background-color: #fff;
  }
}
.page-footer {
  background-color: #f2f2f2;
  position: relative;
}
.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 12px 20px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 43px 30px 46px 30px;
  }
}
@media (min-width: 1440px) {
  .page-footer__wrapper {
    padding: 46px 110px;
  }
}
.page-footer__contacts {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-footer__contacts {
    padding: 50px 70px 37px 70px;
  }
}
@media (min-width: 1440px) {
  .page-footer__contacts {
    width: 419px;
    height: 201px;
    padding: 0 76px;
    position: absolute;
    top: 95px;
    left: 110px;
  }
}
.page-footer__interactive-map iframe {
  width: 100%;
}
@media (min-width: 768px) {
  .page-footer__interactive-map iframe {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 400px;
  }
}
.page-footer__logo {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 15px;
  padding-bottom: 27px;
}
@media (min-width: 768px) {
  .page-footer__logo {
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
.page-footer__copyright {
  width: 100%;
  padding: 13px 0 0 0;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .logo__cat--mobile {
    display: none;
  }
}
.logo__cat--tablet {
  display: none;
}
@media (min-width: 768px) {
  .logo__cat--tablet {
    display: block;
    width: 60px;
  }
}
@media (min-width: 1440px) {
  .logo__cat--tablet {
    display: none;
  }
}
.logo__cat--desktop {
  display: none;
}
@media (min-width: 1440px) {
  .logo__cat--desktop {
    display: block;
  }
}
.logo__title--header {
  justify-self: center;
}
@media (min-width: 768px) {
  .logo__title--header {
    margin-left: 10px;
    fill: #444;
  }
}
@media (min-width: 1440px) {
  .logo__title--header {
    margin-left: 13px;
    height: auto;
    width: 118px;
  }
}
.logo__footer {
  width: 128px;
  height: auto;
}
.logo:hover,
.logo:focus {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
.social {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  padding: 18px 0 18px 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .social {
    border: none;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .social {
    width: 47%;
  }
}
.social__list {
  display: flex;
  align-items: flex-end;
  margin: 0;
}
@media (min-width: 768px) {
  .social__list {
    align-items: center;
    justify-content: space-between;
    width: 59%;
  }
}
.social__item {
  margin: 0 18px;
}
@media (min-width: 768px) {
  .social__item {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .social__link--vkontakte svg {
    height: auto;
    width: 32px;
  }
}
@media (min-width: 768px) {
  .social__link--instagram svg {
    height: auto;
    width: 24px;
  }
}
@media (min-width: 768px) {
  .social__link--facebook svg {
    height: auto;
    width: 32px;
    padding-right: 8px;
  }
}
.social__link--vkontakte:hover svg,
.social__link--instagram:hover svg,
.social__link--vkontakte:focus svg,
.social__link--instagram:focus svg {
  fill: #68b738;
}
.social__link--facebook:hover svg,
.social__link--facebook:focus svg {
  stroke: #68b738;
}
.social__link--vkontakte:active svg,
.social__link--instagram:active svg {
  fill: #68b738;
  opacity: 0.3;
}
.social__link--facebook:active svg {
  stroke: #68b738;
  opacity: 0.3;
}
.copyright__link {
  width: 100%;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright__link:hover svg,
.copyright__link:focus svg {
  fill: #68b738;
}
.copyright__link:active,
.copyright__link:active svg {
  fill: #68b738;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .copyright__link {
    justify-content: flex-end;
  }
}
.copyright__link svg {
  width: 42px;
  height: auto;
  translate: 8px 0;
}
@media (min-width: 768px) {
  .copyright__link svg {
    margin-left: 8px;
  }
}
.page-form-main__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  padding: 18px 20px 0 20px;
  margin-top: 0;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .page-form-main__title {
    font-size: 60px;
    text-align: left;
    padding-top: 44px;
    padding-left: 69px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .page-form-main__title {
    padding-left: 110px;
    padding-top: 60px;
  }
}
.page-form-main__subtitle {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 20px 26px 20px;
}
@media (min-width: 768px) {
  .page-form-main__subtitle {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding-left: 70px;
    padding-bottom: 49px;
    padding-top: 0;
  }
}
@media (min-width: 1440px) {
  .page-form-main__subtitle {
    padding-left: 110px;
  }
}
@media (min-width: 768px) {
  .page-form-main__form {
    padding-bottom: 51px;
  }
}
@media (min-width: 1440px) {
  .page-form-main__form {
    padding-bottom: 59px;
  }
}
@media (min-width: 1440px) {
  .form-main {
    display: flex;
    flex-wrap: wrap;
  }
}
.form-main__field {
  padding: 0;
  width: 100%;
}
.form-main__remark {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .form-main__remark {
    font-size: 16px;
    display: inline;
    margin-left: 38px;
    position: relative;
    top: -6px;
  }
}
@media (min-width: 1440px) {
  .form-main__remark {
    margin-left: 62px;
    margin-top: 44px;
  }
}
.form-main__button {
  font-size: 16px;
  display: flex;
  width: 280px;
  height: 40px;
  margin: 20px;
}
@media (min-width: 768px) {
  .form-main__button {
    font-size: 20px;
    margin-left: 70px;
    width: 282px;
    height: 52px;
    display: inline;
  }
}
@media (min-width: 1440px) {
  .form-main__button {
    margin-left: 110px;
    width: 568px;
  }
}
.field {
  display: flex;
  flex-direction: column;
  border: none;
}
.field__wrapper-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}
@media (min-width: 1440px) {
  .field__wrapper-container {
    min-width: 49%;
  }
}
.field__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  padding: 0 0 0 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
}
.field__title::after {
  content: "";
  height: 2px;
  background-color: #68b738;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  top: -13px;
}
@media (min-width: 768px) {
  .field__title br {
    display: none;
  }
  .field__title::after {
    position: static;
  }
  .field__title::before {
    content: "";
    height: 2px;
    background-color: #68b738;
    width: 30px;
  }
}
@media (min-width: 1440px) {
  .field__title::before {
    width: 70px;
  }
}
@media (min-width: 1440px) {
  .field__title--contact::before {
    position: relative;
    top: -14px;
  }
  .field__title--contact::after {
    position: relative;
    top: -14px;
  }
}
.field__title--comment::after {
  top: -10px;
}
@media (min-width: 768px) {
  .field__title--comment::after {
    position: relative;
    top: -10px;
  }
  .field__title--comment::before {
    position: relative;
    top: -10px;
  }
}
.field__title--additionally::after {
  top: 2px;
}
@media (min-width: 1440px) {
  .field__title--additionally::before {
    position: relative;
    top: 9px;
  }
  .field__title--additionally::after {
    position: relative;
    top: 9px;
  }
}
.field__title-contact,
.field__title-comment,
.field__title-additionally {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 24px;
  font-weight: 400;
  line-height: 28px;
}
@media (min-width: 768px) {
  .field__title-contact,
  .field__title-comment,
  .field__title-additionally {
    font-size: 36px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.field__title-comment {
  margin-top: 10px;
  margin-bottom: 37px;
  padding-right: 23px;
}
@media (min-width: 768px) {
  .field__title-comment {
    margin-top: 46px;
    margin-bottom: 81px;
    padding: 0 39px;
  }
}
.field__title-additionally {
  margin-top: 19px;
  margin-bottom: 21px;
  padding-right: 23px;
}
@media (min-width: 768px) {
  .field__title-additionally {
    margin-top: 55px;
    margin-bottom: 66px;
    padding-right: 41px;
  }
}
@media (min-width: 1440px) {
  .field__title-additionally {
    margin-top: 72px;
  }
}
@media (min-width: 768px) {
  .field__title-contact {
    margin-top: 70px;
    margin-bottom: 80px;
    padding-left: 39px;
  }
}
@media (min-width: 1440px) {
  .field__title-contact {
    margin-top: 41px;
  }
}
.field__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #444;
  text-transform: uppercase;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .field__label {
    font-size: 20px;
    line-height: 30px;
    padding-left: 69px;
  }
}
@media (min-width: 1440px) {
  .field__label {
    padding-left: 110px;
  }
}
.field--basic-data {
  border-bottom: 1px solid #d9d9d9;
  padding: 0 0 10px 0;
}
@media (min-width: 768px) {
  .field--basic-data {
    border: none;
  }
}
@media (min-width: 1440px) {
  .field--basic-data {
    flex-grow: 1;
    width: 50%;
  }
}
.field--target-data {
  padding-top: 25px;
  padding-bottom: 7px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .field--target-data {
    border: none;
  }
}
@media (min-width: 1440px) {
  .field--target-data {
    padding: 0;
    padding-right: 110px;
    flex-grow: 1;
    width: 37%;
  }
}
@media (min-width: 1440px) {
  .field__label--tel {
    padding: 0;
    margin-left: 53px;
  }
}
.field__list {
  margin: 0;
}
@media (min-width: 768px) {
  .field__list {
    border: 1px solid #d9d9d9;
    margin: 14px 69px 0 70px;
    padding: 30px 30px 30px 0;
  }
}
@media (min-width: 1440px) {
  .field__list {
    margin: 0;
    padding-left: 30px;
  }
}
.field__item {
  margin-bottom: 20px;
}
.field__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .field__item {
    margin-bottom: 23px;
  }
}
.field--contact-data {
  margin: 0;
  padding-right: 0;
}
@media (min-width: 1440px) {
  .field--contact-data {
    flex-direction: row;
  }
}
.field--comment {
  margin: 0;
  padding-right: 0;
}
.field--additionally {
  margin: 0;
  padding-right: 0;
}
.field__input {
  min-height: 45px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #444;
  flex-grow: 1;
  margin-left: 10px;
  padding-left: 16px;
  margin-right: 20px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .field__input {
    margin-right: 69px;
    margin-left: 17px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 14px;
  }
}
@media (min-width: 1440px) {
  .field__input {
    margin-right: 77px;
  }
}
.field__input:hover {
  border: 1px solid #cdcdcd;
}
.field__input:focus,
.field__input:focus-visible {
  border: 2px solid #444;
}
@media (min-width: 1440px) {
  .field__input--email {
    margin-right: 6px;
    margin-left: 22px;
  }
}
@media (min-width: 1440px) {
  .field__input--tel {
    min-width: 451px;
  }
}
.field__icon {
  position: absolute;
  margin-top: 15px;
  right: 34px;
}
@media (min-width: 768px) {
  .field__icon {
    right: 85px;
  }
}
@media (min-width: 1440px) {
  .field__icon {
    position: relative;
    right: 45px;
  }
}
@media (min-width: 1440px) {
  .field__icon--tel {
    right: 114px;
  }
}
.field__input--email:focus + .field__icon,
.field__input--email:focus + .field__icon {
  stroke: #68b738;
}
.field__input--tel:focus + .field__icon {
  fill: #68b738;
  stroke: #68b738;
}
.field__input--comment {
  margin-left: 20px;
  padding-top: 5px;
  min-height: 143px;
}
@media (min-width: 768px) {
  .field__input--comment {
    margin-left: 70px;
    padding-top: 10px;
    min-height: 160px;
  }
}
@media (min-width: 1440px) {
  .field__input--comment {
    margin: 0 110px;
  }
}
@media (min-width: 768px) {
  .field__list--additionally {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    margin: 0;
    padding: 0;
    margin-left: 80px;
  }
  .field__list--additionally .field__item {
    width: 50%;
  }
}
@media (min-width: 1440px) {
  .field__list--additionally {
    margin: 0 20px 5px 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .field__list--additionally .field__item {
    width: auto;
  }
}
.field__label--radio {
  color: #222;
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-left: 45px;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .field__label--radio {
    margin-left: 0;
    padding-left: 86px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .field__label--radio {
    padding-left: 58px;
  }
}
.field__input + .field__label--radio::before {
  content: "";
  position: absolute;
  left: -28px;
  top: -4px;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .field__input + .field__label--radio::before {
    width: 38px;
    height: 38px;
    left: 26px;
    top: -6px;
  }
}
@media (min-width: 1440px) {
  .field__input + .field__label--radio::before {
    left: -5px;
  }
}
.field__input:checked + .field__label--radio::after {
  content: "";
  position: absolute;
  left: -19px;
  top: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .field__input:checked + .field__label--radio::after {
    left: 37px;
    top: 5px;
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 1440px) {
  .field__input:checked + .field__label--radio::after {
    left: 7px;
  }
}
.field__input--radio + label:hover::before,
.field__input--radio:hover + label::before {
  border: 1px solid #bababa;
}
.field__input--radio:disabled + label::before,
.field__input--radio:disabled + label::after,
.field__input--radio:disabled + label {
  opacity: 0.3;
}
.field__label--checkbox {
  color: #000;
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 12px 45px 15px 45px;
}
@media (min-width: 768px) {
  .field__label--checkbox {
    margin: 0;
    padding: 0 0 18px 49px;
  }
}
@media (min-width: 1440px) {
}
.field__input + .field__label--checkbox::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .field__input + .field__label--checkbox::before {
    left: -10px;
    top: -5px;
    width: 38px;
    height: 38px;
  }
}
.field__input:checked + .field__label--checkbox::after {
  content: "";
  position: absolute;
  left: -19px;
  top: 8px;
  width: 28px;
  height: 28px;
  background: url(../../images/checked.svg);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .field__input:checked + .field__label--checkbox::after {
    left: 1px;
  }
}
.field__input--checkbox + label:hover::before,
.field__input--checkbox:hover + label::before {
  border: 1px solid #bababa;
}
.field__input--checkbox:disabled + label::before,
.field__input--checkbox:disabled + label::after,
.field__input--checkbox:disabled + label {
  opacity: 0.3;
}
.main-catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  padding-left: 20px;
  padding-bottom: 32px;
  border-bottom: 1px solid #cdcdcd;
  margin: 19px 0 0 0;
}
@media (min-width: 768px) {
  .main-catalog__title {
    margin-top: 44px;
    padding-left: 30px;
    border: none;
    font-size: 60px;
  }
}
@media (min-width: 1440px) {
  .main-catalog__title {
    padding-left: 0;
    margin: 60px 110px 0 110px;
  }
}
.main-catalog__list {
  margin: 0;
}
@media (min-width: 768px) {
  .main-catalog__list {
    margin: 0 30px;
  }
}
@media (min-width: 1440px) {
  .main-catalog__list {
    margin: 0 110px;
  }
}
@media (min-width: 768px) {
  .catalog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px 60px;
  }
}
@media (min-width: 1440px) {
  .catalog-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px 78px;
  }
}
.catalog-list__item {
  padding: 0 20px;
}
.product-card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222;
  text-transform: uppercase;
  width: 55%;
  margin-top: 20px;
  margin-bottom: 0;
}
.product-card__title--show-more {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .product-card__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 82%;
    margin: 31px 0 11px 18px;
  }
  .product-card__title--show-more {
    margin: 26px 0 22px 1px;
  }
}
.product-card:last-child .product-card__title {
  width: auto;
}
@media (min-width: 768px) {
  .product-card:last-child .product-card__title {
    width: 65%;
    justify-self: center;
  }
}
@media (min-width: 1440px) {
  .product-card:last-child .product-card__title {
    width: 100%;
  }
}
.product-card__details {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #444;
  width: 100%;
  margin-top: 11px;
}
@media (min-width: 768px) {
  .product-card__details {
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 0;
    padding-top: 0;
  }
}
.product-card__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #444;
}
.product-card__subtitle--show-more {
  margin-top: 8px;
}
@media (min-width: 768px) {
  .product-card__subtitle {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    width: 75%;
    margin: 0;
    margin-bottom: 87px;
  }
  .product-card__subtitle--show-more {
    margin-bottom: 58px;
  }
}
@media (min-width: 1440px) {
  .product-card__subtitle--show-more {
    width: 100%;
  }
}
.product-card__button {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 24px;
  font-size: 16px;
}
@media (min-width: 768px) {
  .product-card__button {
    font-size: 16px;
    margin: 0;
  }
}
.product-card__button--show-more {
  background-color: #f2f2f2;
  color: #444;
  width: 100%;
}
.product-card {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: none;
    padding: 40px;
    position: relative;
  }
  .product-card::before {
    content: "";
    display: block;
    width: 100%;
    height: 79%;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}
.product-card__image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  align-content: end;
  justify-self: center;
}
.product-card__image svg {
  height: auto;
  width: 30px;
  margin-top: 9px;
}
@media (min-width: 768px) {
  .product-card__image svg {
    width: 60px;
    margin-top: 0;
  }
}
.product-card__footer {
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .product-card__footer {
    margin-top: 27px;
  }
}
.product-card__row {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}
@media (min-width: 768px) {
  .product-card__row {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 14px;
  }
}
.product-card--show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
@media (min-width: 768px) {
  .product-card--show-more {
    outline: 2px solid #f2f2f2;
    margin-top: 113px;
  }
}
@media (min-width: 1440px) {
  .product-card--show-more {
    margin: 0;
    outline: none;
  }
  .product-card--show-more::before {
    background-color: transparent;
    border: 2px solid #f2f2f2;
    z-index: 0;
  }
}
.additional-catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  width: 100%;
  margin-top: 19px;
  margin-bottom: 29px;
  display: flex;
  align-items: center;
}
.additional-catalog__title::after {
  content: "";
  height: 2px;
  background-color: #68b738;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 22px;
  margin-top: 7px;
}
@media (min-width: 768px) {
  .additional-catalog__title {
    font-size: 36px;
    margin-top: 57px;
    margin-bottom: 72px;
  }
  .additional-catalog__title::before {
    content: "";
    height: 2px;
    background-color: #68b738;
    width: 30px;
    margin-right: 36px;
    margin-top: 10px;
  }
  .additional-catalog__title::after {
    margin-left: 36px;
    margin-top: 10px;
  }
}
@media (min-width: 1440px) {
  .additional-catalog__title {
    margin-top: 68px;
    margin-bottom: 50px;
  }
  .additional-catalog__title::before {
    width: 70px;
    margin-right: 40px;
  }
}
.additional-catalog {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .additional-catalog {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.additional-catalog__list {
  margin: 0;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .additional-catalog__list {
    margin: 0 30px;
  }
}
@media (min-width: 1440px) {
  .additional-catalog__list {
    width: 60%;
    margin-left: 110px;
    margin-right: 79px;
    margin-top: 21px;
    flex-grow: 1;
  }
}
.additional-catalog__promo-gift {
  margin-top: 39px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .additional-catalog__promo-gift {
    margin: 68px 30px 76px 30px;
  }
}
@media (min-width: 1440px) {
  .additional-catalog__promo-gift {
    margin: 0;
    margin-right: 110px;
    margin-top: 21px;
    width: 245px;
  }
}
.additional-card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #222;
  margin: 0;
}
@media (min-width: 768px) {
  .additional-card__title {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .additional-card__title {
    margin: 0;
  }
}
.additional-card__header {
  margin: 10px 0 0 2px;
}
@media (min-width: 1440px) {
  .additional-card__header {
    margin: 5px 0 0 0;
  }
}
.additional-card__value,
.additional-card__price {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #444;
  margin-top: 8px;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .additional-card__value,
  .additional-card__price {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .additional-card__value {
    margin-right: 49px;
  }
}
@media (min-width: 1440px) {
  .additional-card__value {
    margin: 0 0 0 0;
  }
}
@media (min-width: 768px) {
  .additional-card__price {
    min-width: 40px;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .additional-card__price {
    margin: 0 40px 0 0;
  }
}
.additional-card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #cdcdcd;
  padding: 0;
}
.additional-card:first-child {
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional-card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 38px 10px 37px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .additional-card {
    display: grid;
    grid-template-columns: 1fr 1fr 244px;
    padding: 13px 0 19px 0;
    align-items: center;
    border-left: none;
    border-right: none;
  }
}
.additional-card__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .additional-card__wrapper {
    padding-top: 13px;
  }
}
.additional-card__footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1440px) {
  .additional-card__footer {
    width: 100%;
  }
}
.additional-card__button {
  height: 40px;
  font-size: 16px;
  margin-bottom: 17px;
  padding: 0;
}
@media (min-width: 768px) {
  .additional-card__button {
    height: 39px;
    font-size: 16px;
    margin-top: 10px;
  }
}
@media (min-width: 1440px) {
  .additional-card__button {
    margin: 0;
  }
}
.promo-gift {
  background: url(../../images/gift-photo-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 289px;
  margin-right: 20px;
}
@media (min-resolution: 2dppx) {
  .promo-gift {
    background-image: url("../../images/gift-photo-mobile@2x.png");
  }
}
@media (min-width: 768px) {
  .promo-gift {
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    background: url(../../images/gift-photo-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .promo-gift {
    background-image: url("../../images/gift-photo-tablet@2x.png");
  }
}
@media (min-width: 1440px) {
  .promo-gift {
    background: url(../../images/gift-photo-desktop.png);
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    height: 289px;
    width: 245px;
  }
}
@media (min-width: 1440px) and (min-resolution: 2dppx) {
  .promo-gift {
    background-image: url("../../images/gift-photo-desktop@2x.png");
  }
}
.promo-gift__icon {
  margin: 58px 40px 16px 20px;
}
@media (min-width: 768px) {
  .promo-gift__icon {
    margin-left: 79px;
    margin-top: 16px;
  }
}
@media (min-width: 1440px) {
  .promo-gift__icon {
    margin: 14px 0 0 0;
  }
}
.promo-gift__slogan {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  margin-right: 22px;
}
@media (min-width: 768px) {
  .promo-gift__slogan {
    text-align: left;
    margin-right: 124px;
    margin-top: 21px;
  }
}
@media (min-width: 1440px) {
  .promo-gift__slogan {
    text-align: center;
    margin: 0;
    margin-top: 50px;
  }
}
.page-catalog__additional-catalog {
  margin: 0 0 0 20px;
}
@media (min-width: 768px) {
  .page-catalog__additional-catalog {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .page-catalog__additional-catalog {
    margin-bottom: 86px;
  }
}
/* Контейнер слайдера */
.slider {
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .slider {
    height: 443px;
    margin-top: 230px;
  }
}
@media (min-width: 1440px) {
  .slider {
    height: auto;
  }
}
/* Контейнер изображений */
.slider__image-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .slider__image-container {
    height: 620px;
    position: absolute;
    top: -187px;
  }
}
@media (min-width: 1440px) {
  .slider__image-container {
    top: -437px;
    left: 85px;
  }
}
/* Изображение "до" */
.slider__image--before {
  z-index: 1;
  position: absolute;
  top: 0;
  left: -20px;
  width: 311px;
  height: 232px;
}
@media (min-width: 768px) {
  .slider__image--before {
    clip-path: inset(0 50% 0 0);
    top: 35px;
    left: 45px;
    width: 673px;
    height: 501px;
  }
}
/* Изображение "после" */
.slider__image--after {
  position: absolute;
  top: 0;
  left: -20px;
  z-index: 2;
  width: 325px;
  height: 300px;
  clip-path: inset(0 0 0 100%);
}
@media (min-width: 768px) {
  .slider__image--after {
    clip-path: inset(0 0 0 50%);
    top: 19px;
    left: 45px;
    width: 673px;
    height: 514px;
  }
}
/* Ползунок */
.slider__control {
  position: absolute;
  top: 264px;
  left: 47%;
  transform: translateX(-50%);
  width: 25%;
  z-index: 4;
}
@media (min-width: 768px) {
  .slider__control {
    width: 54%;
    top: 367px;
    left: 49%;
  }
}
@media (min-width: 1440px) {
  .slider__control {
    width: 53%;
    top: 137px;
    left: 62.5%;
  }
}
.slider__range {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 12px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  outline: none;
  cursor: pointer;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .slider__range {
    background: #dcdcdc;
    height: 6px;
    border: none;
  }
}
.slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 6px;
  appearance: none;
  cursor: pointer;
  background-color: #68b738;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .slider__range::-webkit-slider-thumb {
    width: 34px;
    height: 34px;
    background-color: #68b738;
    border: 13px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}
.slider__range::-moz-range-thumb {
  width: 34px;
  height: 34px;
  background: #4caf50;
  border-radius: 50%;
  border: 13px solid #fff;
  cursor: pointer;
}
/* Метки "Было" и "Стало" */
.slider__labels {
  position: absolute;
  top: 262px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-left: 44px;
}
@media (min-width: 768px) {
  .slider__labels {
    width: 74%;
    top: 362px;
    margin-left: 98px;
  }
}
@media (min-width: 1440px) {
  .slider__labels {
    width: 73%;
    top: 132px;
    margin-left: 210px;
  }
}
.slider__label--left,
.slider__label--right {
  position: relative;
}
.slider__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .slider__label {
    font-size: 20px;
    border-bottom: 1px dotted #cdcdcd;
  }
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../../fonts/oswald/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../../fonts/oswald/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "ArialRegular";
  src: url("../../fonts/arial/ArialRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
}
@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: auto;
  }
}
ul {
  list-style: none;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
